<div>

    <h2 translate="hillcresttooldieApp.material.home.title">Material</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveMaterialModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="hillcresttooldieApp.material.home.createLabel">Create a new Material</span>
    </button>
    <br><br>

<!--File upload
    <div class="uploadForms">
	<form method="POST" enctype="multipart/form-data" action="api/fileupload/material">
         <h4>Load Materials through Excel: </h4>
         <input type="file" name="file"/><br> 
         <input type="submit" value="Upload" />
    </form>
    </div>
-->
    <div class="modal fade" id="saveMaterialModal" tabindex="-1" role="dialog" aria-labelledby="myMaterialLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myMaterialLabel" translate="hillcresttooldieApp.material.home.createOrEditLabel">Create or edit a Material</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="material.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="hillcresttooldieApp.material.material_number">Material_number</label>
                            <input type="text" class="form-control" name="material_number"
                                   ng-model="material.material_number">

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.material.material_thickness">Material_thickness</label>
                            <input type="number" class="form-control" name="material_thickness"
                                   ng-model="material.material_thickness">

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.material.material_size">Material_size</label>
                            <input type="text" class="form-control" name="material_size"
                                   ng-model="material.material_size">

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.material.lb_per_sheet">Lb_per_sheet</label>
                            <input type="number" class="form-control" name="lb_per_sheet"
                                   ng-model="material.lb_per_sheet">

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.material.dollar_per_lb">Dollar_per_lb</label>
                            <input type="number" class="form-control" name="dollar_per_lb"
                                   ng-model="material.dollar_per_lb">

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.material.inventory_count">Inventory_count</label>
                            <input type="number" class="form-control" name="inventory_count"
                                   ng-model="material.inventory_count">

                        </div>
                        <div class="form-group">
                            <label>Primary Supplier</label>
                            <select class="form-control" name="supplier" ng-model="material.supplier.id" ng-options="supplier.id as supplier.supplier_name for supplier in suppliers">
                            </select>
                        </div>
                        
                        
                        <div class="form-group">
                            <label>Secondary Supplier</label>
                            <select class="form-control" name="supplier2" ng-model="material.supplier2.id" ng-options="supplier.id as supplier.supplier_name for supplier in suppliers">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMaterialConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(material.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="hillcresttooldieApp.material.delete.question" translate-values="{id: '{{material.id}}'}">Are you sure you want to delete this Material?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="hillcresttooldieApp.material.material_number">Material_number</th>
                    <th translate="hillcresttooldieApp.material.material_thickness">Material_thickness</th>
                    <th translate="hillcresttooldieApp.material.material_size">Material_size</th>
                    <th translate="hillcresttooldieApp.material.lb_per_sheet">Lb_per_sheet</th>
                    <th translate="hillcresttooldieApp.material.dollar_per_lb">Dollar_per_lb</th>
                    <th translate="hillcresttooldieApp.material.inventory_count">Inventory_count</th>
                    <th>Supplier</th>
                    <th>Supplier 2</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="material in materials">
                    <td><a ui-sref="materialDetail({id:material.id})">{{material.id}}</a></td>
                    <td>{{material.material_number}}</td>
                    <td>{{material.material_thickness}}</td>
                    <td>{{material.material_size}}</td>
                    <td>{{material.lb_per_sheet}}</td>
                    <td>{{material.dollar_per_lb}}</td>
                    <td>{{material.inventory_count}}</td>
                    <td>{{material.supplier.supplier_name}}</td>
                    <td>{{material.supplier2.supplier_name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="materialDetail({id:material.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(material.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(material.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
