<div>

    <h2 translate="hillcresttooldieApp.po.home.title">Purchase Orders</h2>
	<div>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#savePoModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="hillcresttooldieApp.po.home.createLabel">Create a new Po</span>
    </button>
    <div align="right">
	<button class="btn btn-success btn-default" ng-click="generateShopOrders()">
		<span>Generate Shop Orders</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-retweet"></span>
	</button>
	</div>
	</div>
	<br>
    <!--File upload
    <div class="uploadForms">
    <form method="POST" enctype="multipart/form-data" action="api/fileupload/po">
         <h4>Load Materials through Excel: </h4>
         <input type="file" name="file"/><br> 
         <input type="submit" value="Upload" />
    </form>
    </div>-->
    

    <div class="modal fade" id="savePoModal" tabindex="-1" role="dialog" aria-labelledby="myPoLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myPoLabel" translate="hillcresttooldieApp.po.home.createOrEditLabel">Create or edit a Po</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="po.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="hillcresttooldieApp.po.po_number">Po_number</label>
                            <input type="text" class="form-control" name="po_number"
                                   ng-model="po.po_number">

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.po.sales_order_number">Sales_order_number</label>
                            <input type="text" class="form-control" name="sales_order_number"
                                   ng-model="po.sales_order_number">
                        </div>
                        <div class="form-group">
                            <label>Customer</label>
                            <select class="form-control" name="customer" ng-model="po.customer.id" ng-options="customer.id as customer.customer_name for customer in customers">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.po.due_date">Due_date</label>
                            <input type="date" class="form-control" name="due_date"
                                   ng-model="po.due_date" required>
                            
                            <div ng-show="editForm.due_date.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.due_date.$error.required">This field is required.</p>                              </p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.po.status">Status</label>
                            <select class="form-control" name="status" ng-model="po.status">
                            	<option>Ordered</option>
                            	<option>In Progress</option>
                            	<option>Complete</option>
                            </select>
<!--                             <input type="text" class="form-control" name="status" -->
<!--                                    ng-model="po.status"> -->

                        </div>
                        <div class="form-group">
                            <label translate="hillcresttooldieApp.po.total_sale">Total_sale</label>
                            <input type="number" class="form-control" name="total_sale"
                                   ng-model="po.total_sale">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(po.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="hillcresttooldieApp.po.delete.question" translate-values="{id: '{{po.id}}'}">Are you sure you want to delete this Po?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div align="right">
    	<form role="form" name="dateFilterForm" ng-submit="filterPoByDate()">
    		<label>Show Purchase Orders Between</label> <input type="date" name="dateFilter.startDate" ng-model="dateFilter.startDate" /> 
    		<label>and</label>
    		 <input name="dateFilter.endDate" ng-model="dateFilter.endDate" type="date" /> <button ng-click="console.log(startDate)">Filter</button>
    	</form>
    </div>
	<br>
	<div align="right">
	<button ng-click="clearFilter()">Clear Filter</button>
    </div>
    
    <div>
    <p>Showing {{poLength}} Purchase Orders</p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    
                    <th>ID</th>
                    <th>PO Number</th>
                    <th>Order Number</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Total Sale</th>
                    <th>Customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="po in pos">
                    <td>
                      <button ng-if="po.expanded" ng-click="po.expanded = false">-</button>
                      <button ng-if="!po.expanded" ng-click="expand(po, po.id)">+</button>
                    </td>
                   
                    <td><a ui-sref="poDetail({id:po.id})">{{po.id}}</a></td>
                    <td>{{po.po_number}}</td>
                    <td>{{po.sales_order_number}}</td>
                    <td>{{po.due_date}}</td>
                    <td>{{po.status}}</td>
                    <td>{{po.total_sale | currency}}</td>
                    <td>{{po.customer.customer_name}}</td>
                    <td>
<!--                         <button type="submit" -->
<!--                                 ui-sref="poDetail({id:po.id})" -->
<!--                                 class="btn btn-info"> -->
<!--                             <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view">View</span> -->
<!--                         </button> -->
                        <button type="submit"
                                ng-click="update(po.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(po.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="po.expanded" ng-repeat-end=""> <!--start of expand section -->



                    <td colspan='8'>

                        <h4>Parts List</h4>
							<table class='expandedInnerTable'>
								<thead>
									<tr>
										<th>Part Number</th>
										<th>Part Description</th>
										<th>Quantity</th>
									</tr>
								</thead>
							<tbody>
							<tr ng-repeat='po_part in po_part_list'>
								
								<td>{{po_part.part.part_number}}</td>
								<td>{{po_part.part.part_description}}</td>
								<td>{{po_part.part_quantity}}</td>
							</tr>
							</tbody>
							
							</table>
								
							
                        <hr>
 
                  	<form name="poPartForm" role="form" novalidate ng-submit="createPoPart()">
 						<div class="hidden">
                            <label>po part id</label><input type="text" name="id" ng-model="po_part.id" readonly><br>
                        	<label>po id</label><input name="po" ng-model="po_part.po.id"/><br>
                        </div> 

                        	<label>Part</label>
                            <select name="part" ng-model="po_part.part.id" ng-options="part.id as part.part_number for part in parts"></select>
                            <label>Quantity</label>
                            <input type="number" name="part_quantity" ng-model="po_part.part_quantity">

                        <button type="submit" ng-disabled="poPartForm.$invalid" class="btn btn-primary">
                            <span>^</span>&nbsp;<span>Add to Purchase Order</span>
                        </button><br><br><br>
                    </form>
                	
                    </td>
                </tr> <!--end of expand section -->
            </tbody>
        </table>
<!--         <nav> -->
<!--             <ul class="pager" ng-model="pagerNav" ng-show="pagerNavShow"> -->
<!--                 <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li> -->
<!--                 <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li> -->
<!--                 <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li> -->
<!--                 <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li> -->
<!--             </ul> -->
<!--         </nav> -->
    </div>
</div>
